Repository bejjaran/LNRS-CLM-Terraform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

build-ris-bussvcs-dev/eu-west-2/pdev:
  variables:
    ROOT_DIR: live/ris-bussvcs-dev/eu-west-2/pdev
    AWS_PROFILE: ris-bussvcs-dev
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-dev' )
  - export ADFS_ROLE_ARN=( 'arn:aws:iam::152186781777:role/ADFS-TAS-Terraform' )
  - export TF_VAR_mssql_admin_username=$mssql_username
  ...

ris-bussvcs-dev/eu-west-2/pdev:
  variables:
    ROOT_DIR: live/ris-bussvcs-dev/eu-west-2/pdev
    AWS_PROFILE: ris-bussvcs-dev
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-dev' )
  - export ADFS_ROLE_ARN=( 'arn:aws:iam::152186781777:role/ADFS-TAS-Terraform' )
  dependencies:
  - build-ris-bussvcs-dev/eu-west-2/pdev
  environment:
  ...

build-ris-bussvcs-dev/eu-west-2/tdev:
  variables:
    ROOT_DIR: live/ris-bussvcs-dev/eu-west-2/tdev
    AWS_PROFILE: ris-bussvcs-dev
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-dev' )
  - export ADFS_ROLE_ARN=( 'arn:aws:iam::152186781777:role/ADFS-TAS-Terraform' )
  - export TF_VAR_mssql_admin_username=$mssql_username
  ...

ris-bussvcs-dev/eu-west-2/tdev:
  variables:
    ROOT_DIR: live/ris-bussvcs-dev/eu-west-2/tdev
    AWS_PROFILE: ris-bussvcs-dev
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-dev' )
  - export ADFS_ROLE_ARN=( 'arn:aws:iam::152186781777:role/ADFS-TAS-Terraform' )
  dependencies:
  - build-ris-bussvcs-dev/eu-west-2/tdev
  environment:
  ...

build-ris-bussvcs-dev/us-east-1/tmxdemo:
  variables:
    ROOT_DIR: live/ris-bussvcs-dev/us-east-1/tmxdemo
    AWS_PROFILE: ris-bussvcs-dev
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-dev' )
  - export ADFS_ROLE_ARN=( 'arn:aws:iam::152186781777:role/ADFS-TAS-Terraform' )
  - export TF_VAR_mssql_admin_username=$mssql_username
  ...

ris-bussvcs-dev/us-east-1/tmxdemo:
  variables:
    ROOT_DIR: live/ris-bussvcs-dev/us-east-1/tmxdemo
    AWS_PROFILE: ris-bussvcs-dev
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-dev' )
  - export ADFS_ROLE_ARN=( 'arn:aws:iam::152186781777:role/ADFS-TAS-Terraform' )
  dependencies:
  - build-ris-bussvcs-dev/us-east-1/tmxdemo
  environment:
  ...

build-ris-bussvcs-dev/us-east-2/pncsupport:
  variables:
    ROOT_DIR: live/ris-bussvcs-dev/us-east-2/pncsupport
    AWS_PROFILE: ris-bussvcs-dev
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-dev' )
  - export ADFS_ROLE_ARN=( 'arn:aws:iam::152186781777:role/ADFS-TAS-Terraform' )
  - export TF_VAR_mssql_admin_username=$mssql_username
  ...

ris-bussvcs-dev/us-east-2/pncsupport:
  variables:
    ROOT_DIR: live/ris-bussvcs-dev/us-east-2/pncsupport
    AWS_PROFILE: ris-bussvcs-dev
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-dev' )
  - export ADFS_ROLE_ARN=( 'arn:aws:iam::152186781777:role/ADFS-TAS-Terraform' )
  dependencies:
  - build-ris-bussvcs-dev/us-east-2/pncsupport
  ...

ris-bussvcs-prod/eu-west-2/ukdemo:
  variables:
    ROOT_DIR: live/ris-bussvcs-prod/eu-west-2/ukdemo
    AWS_PROFILE: ris-bussvcs-prod
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-prod' 'ris-bussvcs-dev' )
  ...

remove usdemo
  .jobs.gitlab-ci.yml
Due: none

add var for lb listener port
  live/ris-bussvcs-dev/eu-west-2/pdev/terragrunt.hcl
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
  live/ris-bussvcs-dev/us-east-1/tmxdemo/terragrunt.hcl
  live/ris-bussvcs-dev/us-east-2/pncsupport/terragrunt.hcl
  live/ris-bussvcs-prod/eu-west-2/ukdemo/terragrunt.hcl
  live/ris-bussvcs-prod/us-east-2/usdemo/terragrunt.hcl_down
  modules/clm/main.tf
  modules/clm/variables.tf
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

change pdev asg & lb port
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

change tdev lb port back to 443
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

Adding new ami version 2.5.6
  live/ris-bussvcs-dev/us-east-2/pncsupport/terragrunt.hcl
Due: build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport

pncsupport new noam cert arn
  live/ris-bussvcs-dev/us-east-2/pncsupport/terragrunt.hcl
Due: build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport

new ami - v2.6.2
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

add rabbitmq to tdev
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
  modules/clm/main.tf
  modules/clm/security_groups.tf
  modules/clm/variables.tf
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

remove duplicate
  modules/clm/main.tf
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

remove duplicate
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
  modules/clm/main.tf
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

remove unsupported encryption option
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
  modules/clm/main.tf
  modules/clm/variables.tf
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

disable log
  modules/clm/variables.tf
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

comment out log
  modules/clm/main.tf
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

increase tf version
  modules/clm/versions.tf
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

update aws prov ver
  modules/clm/main.tf
  modules/clm/versions.tf
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

go back to 0.12
  modules/clm/versions.tf
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

new ami - v2.7.2
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

Initial commit
  README.md
Due: none

Path conditions:
  build-ris-bussvcs-dev/eu-west-2/pdev: any of: live/ris-bussvcs-dev/eu-west-2/pdev/**/*, live/*.hcl, modules/**/*
  ris-bussvcs-dev/eu-west-2/pdev: any of: live/ris-bussvcs-dev/eu-west-2/pdev/**/*, live/*.hcl, modules/**/*
  build-ris-bussvcs-dev/eu-west-2/tdev: any of: live/ris-bussvcs-dev/eu-west-2/tdev/**/*, live/*.hcl, modules/**/*
  ris-bussvcs-dev/eu-west-2/tdev: any of: live/ris-bussvcs-dev/eu-west-2/tdev/**/*, live/*.hcl, modules/**/*
  build-ris-bussvcs-dev/us-east-1/tmxdemo: any of: live/ris-bussvcs-dev/us-east-1/tmxdemo/**/*, live/*.hcl, modules/**/*
  ris-bussvcs-dev/us-east-1/tmxdemo: any of: live/ris-bussvcs-dev/us-east-1/tmxdemo/**/*, live/*.hcl, modules/**/*
  build-ris-bussvcs-dev/us-east-2/pncsupport: any of: live/ris-bussvcs-dev/us-east-2/pncsupport/**/*, live/*.hcl, modules/**/*
  ris-bussvcs-dev/us-east-2/pncsupport: any of: live/ris-bussvcs-dev/us-east-2/pncsupport/**/*, live/*.hcl, modules/**/*
  build-ris-bussvcs-prod/eu-west-2/ukdemo: any of: live/ris-bussvcs-prod/eu-west-2/ukdemo/**/*, live/*.hcl, modules/**/*
  ris-bussvcs-prod/eu-west-2/ukdemo: any of: live/ris-bussvcs-prod/eu-west-2/ukdemo/**/*, live/*.hcl, modules/**/*
