Repository bejjaran/LNRS-CLM-Terraform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

build-ris-bussvcs-dev/eu-west-2/pdev:
  variables:
    ROOT_DIR: live/ris-bussvcs-dev/eu-west-2/pdev
    AWS_PROFILE: ris-bussvcs-dev
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-dev' )
  - export ADFS_ROLE_ARN=( 'arn:aws:iam::152186781777:role/ADFS-TAS-Terraform' )
  - export TF_VAR_mssql_admin_username=$mssql_username
  ...

ris-bussvcs-dev/eu-west-2/pdev:
  variables:
    ROOT_DIR: live/ris-bussvcs-dev/eu-west-2/pdev
    AWS_PROFILE: ris-bussvcs-dev
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-dev' )
  - export ADFS_ROLE_ARN=( 'arn:aws:iam::152186781777:role/ADFS-TAS-Terraform' )
  dependencies:
  - build-ris-bussvcs-dev/eu-west-2/pdev
  environment:
  ...

build-ris-bussvcs-dev/eu-west-2/tdev:
  variables:
    ROOT_DIR: live/ris-bussvcs-dev/eu-west-2/tdev
    AWS_PROFILE: ris-bussvcs-dev
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-dev' )
  - export ADFS_ROLE_ARN=( 'arn:aws:iam::152186781777:role/ADFS-TAS-Terraform' )
  - export TF_VAR_mssql_admin_username=$mssql_username
  ...

ris-bussvcs-dev/eu-west-2/tdev:
  variables:
    ROOT_DIR: live/ris-bussvcs-dev/eu-west-2/tdev
    AWS_PROFILE: ris-bussvcs-dev
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-dev' )
  - export ADFS_ROLE_ARN=( 'arn:aws:iam::152186781777:role/ADFS-TAS-Terraform' )
  dependencies:
  - build-ris-bussvcs-dev/eu-west-2/tdev
  environment:
  ...

build-ris-bussvcs-dev/us-east-1/tmxdemo:
  variables:
    ROOT_DIR: live/ris-bussvcs-dev/us-east-1/tmxdemo
    AWS_PROFILE: ris-bussvcs-dev
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-dev' )
  - export ADFS_ROLE_ARN=( 'arn:aws:iam::152186781777:role/ADFS-TAS-Terraform' )
  - export TF_VAR_mssql_admin_username=$mssql_username
  ...

ris-bussvcs-dev/us-east-1/tmxdemo:
  variables:
    ROOT_DIR: live/ris-bussvcs-dev/us-east-1/tmxdemo
    AWS_PROFILE: ris-bussvcs-dev
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-dev' )
  - export ADFS_ROLE_ARN=( 'arn:aws:iam::152186781777:role/ADFS-TAS-Terraform' )
  dependencies:
  - build-ris-bussvcs-dev/us-east-1/tmxdemo
  environment:
  ...

build-ris-bussvcs-dev/us-east-2/pncsupport:
  variables:
    ROOT_DIR: live/ris-bussvcs-dev/us-east-2/pncsupport
    AWS_PROFILE: ris-bussvcs-dev
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-dev' )
  - export ADFS_ROLE_ARN=( 'arn:aws:iam::152186781777:role/ADFS-TAS-Terraform' )
  - export TF_VAR_mssql_admin_username=$mssql_username
  ...

ris-bussvcs-dev/us-east-2/pncsupport:
  variables:
    ROOT_DIR: live/ris-bussvcs-dev/us-east-2/pncsupport
    AWS_PROFILE: ris-bussvcs-dev
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-dev' )
  - export ADFS_ROLE_ARN=( 'arn:aws:iam::152186781777:role/ADFS-TAS-Terraform' )
  dependencies:
  - build-ris-bussvcs-dev/us-east-2/pncsupport
  ...

ris-bussvcs-prod/eu-west-2/ukdemo:
  variables:
    ROOT_DIR: live/ris-bussvcs-prod/eu-west-2/ukdemo
    AWS_PROFILE: ris-bussvcs-prod
  before_script:
  - export ADFS_PROFILE=( 'ris-bussvcs-prod' 'ris-bussvcs-dev' )
  ...

change tmxdemo rds timezone
  live/ris-bussvcs-dev/us-east-1/tmxdemo/terragrunt.hcl
Due: build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo

add tag_market var for each env
  live/ris-bussvcs-dev/eu-west-2/pdev/terragrunt.hcl
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
  live/ris-bussvcs-dev/us-east-2/pncsupport/terragrunt.hcl
  live/ris-bussvcs-prod/eu-west-2/ukdemo/terragrunt.hcl
  modules/clm/variables.tf
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

tmxdemo new ami - v1.0.15
  live/ris-bussvcs-dev/us-east-1/tmxdemo/terragrunt.hcl
Due: build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo

tmxdemo - switch mtr prof to tas_monitoring
  live/ris-bussvcs-dev/us-east-1/tmxdemo/terragrunt.hcl
Due: build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo

tdev new ami - pw change
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

tdev new ami - test
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

tdev new ami - test bundle automation
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

Update TF to deploy to AZ A & B only
  live/ris-bussvcs-dev/eu-west-2/pdev/terragrunt.hcl
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
  live/ris-bussvcs-dev/us-east-1/tmxdemo/terragrunt.hcl
  live/ris-bussvcs-dev/us-east-2/pncsupport/terragrunt.hcl
  live/ris-bussvcs-prod/us-east-2/usdemo/terragrunt.hcl
  modules/clm/autoscale.tf
  modules/clm/data.tf
  modules/clm/variables.tf
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

pdev new ami - sep-app-deploy
  live/ris-bussvcs-dev/eu-west-2/pdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev

Create new USDemo environment
  .jobs.gitlab-ci.yml
  live/ris-bussvcs-prod/us-east-2/usdemo/terragrunt.hcl
  modules/clm/variables.tf
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

usdemo new ami - 2.3.2
  live/ris-bussvcs-prod/us-east-2/usdemo/terragrunt.hcl
Due: none

add US R53 IPs to web lb SG
  modules/clm/security_groups.tf
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

remove illegal chars from sg description
  modules/clm/security_groups.tf
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

update health check path
  modules/clm/main.tf
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

pncsup new ami - v2.3.2
  live/ris-bussvcs-dev/us-east-2/pncsupport/terragrunt.hcl
Due: build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport

tmxdemo new ami - noam cert update
  live/ris-bussvcs-dev/us-east-1/tmxdemo/terragrunt.hcl
Due: build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo

pdev new ami - switch to lnrsuk codebase
  live/ris-bussvcs-dev/eu-west-2/pdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev

pdev new ami - v1.0.15 post merge
  live/ris-bussvcs-dev/eu-west-2/pdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev

tdev new ami - v2.2.3 - test rollback
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

tdev - revert to 2.3.2 AMI
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

tdev - rollback to v2.2.3
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

tdev - revert to 2.3.2 ami
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

tdev new ami - v2.3.2 change pw
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

pdev new ami - v1.0.15 pw update
  live/ris-bussvcs-dev/eu-west-2/pdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev

ukdemo new ami - v1.0.15 pw change
  live/ris-bussvcs-prod/eu-west-2/ukdemo/terragrunt.hcl
Due: build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

tmxdemo new ami - v1.0.15 pw change
  live/ris-bussvcs-dev/us-east-1/tmxdemo/terragrunt.hcl
Due: build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo

usdemo new ami - v2.3.2 pw change
  live/ris-bussvcs-prod/us-east-2/usdemo/terragrunt.hcl
Due: none

pncsupport new ami - v2.3.2 pw change
  live/ris-bussvcs-dev/us-east-2/pncsupport/terragrunt.hcl
Due: build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport

tdev - revert ami
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

tdev - switch back to current ami
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

tdev - test rollback to v2.2.3
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

tdev - ami v2.3.2
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

tdev - ami v2.2.3
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

tdev ami - v2.3.2
  live/ris-bussvcs-dev/eu-west-2/tdev/terragrunt.hcl
Due: build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev

add winrm to web sg
  modules/clm/security_groups.tf
Due: build-ris-bussvcs-dev/eu-west-2/pdev, ris-bussvcs-dev/eu-west-2/pdev, build-ris-bussvcs-dev/eu-west-2/tdev, ris-bussvcs-dev/eu-west-2/tdev, build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo, build-ris-bussvcs-dev/us-east-2/pncsupport, ris-bussvcs-dev/us-east-2/pncsupport, build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

usdemo - change asg min to 0
  live/ris-bussvcs-prod/us-east-2/usdemo/terragrunt.hcl
Due: none

tmxdemo - change asg min to 0
  live/ris-bussvcs-dev/us-east-1/tmxdemo/terragrunt.hcl
Due: build-ris-bussvcs-dev/us-east-1/tmxdemo, ris-bussvcs-dev/us-east-1/tmxdemo

ukdemo - change asg min to 0
  live/ris-bussvcs-prod/eu-west-2/ukdemo/terragrunt.hcl
Due: build-ris-bussvcs-prod/eu-west-2/ukdemo, ris-bussvcs-prod/eu-west-2/ukdemo

rename terragrunt
  live/ris-bussvcs-prod/us-east-2/usdemo/terragrunt.hcl_down
Due: none

Path conditions:
  build-ris-bussvcs-dev/eu-west-2/pdev: any of: live/ris-bussvcs-dev/eu-west-2/pdev/**/*, live/*.hcl, modules/**/*
  ris-bussvcs-dev/eu-west-2/pdev: any of: live/ris-bussvcs-dev/eu-west-2/pdev/**/*, live/*.hcl, modules/**/*
  build-ris-bussvcs-dev/eu-west-2/tdev: any of: live/ris-bussvcs-dev/eu-west-2/tdev/**/*, live/*.hcl, modules/**/*
  ris-bussvcs-dev/eu-west-2/tdev: any of: live/ris-bussvcs-dev/eu-west-2/tdev/**/*, live/*.hcl, modules/**/*
  build-ris-bussvcs-dev/us-east-1/tmxdemo: any of: live/ris-bussvcs-dev/us-east-1/tmxdemo/**/*, live/*.hcl, modules/**/*
  ris-bussvcs-dev/us-east-1/tmxdemo: any of: live/ris-bussvcs-dev/us-east-1/tmxdemo/**/*, live/*.hcl, modules/**/*
  build-ris-bussvcs-dev/us-east-2/pncsupport: any of: live/ris-bussvcs-dev/us-east-2/pncsupport/**/*, live/*.hcl, modules/**/*
  ris-bussvcs-dev/us-east-2/pncsupport: any of: live/ris-bussvcs-dev/us-east-2/pncsupport/**/*, live/*.hcl, modules/**/*
  build-ris-bussvcs-prod/eu-west-2/ukdemo: any of: live/ris-bussvcs-prod/eu-west-2/ukdemo/**/*, live/*.hcl, modules/**/*
  ris-bussvcs-prod/eu-west-2/ukdemo: any of: live/ris-bussvcs-prod/eu-west-2/ukdemo/**/*, live/*.hcl, modules/**/*
